@model RegisterNowPageVM
@{
    Layout = null;
}
<head>
    <title>RegisterNow</title>
</head>
<body>
     <div class="container">

        <h2>@ViewBag.ZatenVar</h2>


        @using (Html.BeginForm("RegisterNow", "Register", FormMethod.Post, new { @class="form-signin"}))
        {
            <br />

            <center><h2>Üye olunuz</h2></center>

            <div >
                 @Html.TextBoxFor(x => x.AppUser.UserName, new {@class="form-control",placeholder="Kullanıcı ismi belirleyin"})
                @Html.PasswordFor(x => x.AppUser.Password, new {@class="form-control",placeholder="Sifre belirleyin"})
                @Html.TextBoxFor(x => x.AppUser.Email, new {@class="form-control",placeholder="Email giriniz"})


                <br />

                Profil bilgileri (iste baglı)

                <br />

                @Html.TextBoxFor(x => x.Profile.FirstName, new {@class = "form-control",placeholder="İsminizi giriniz"})
                @Html.TextBoxFor(x => x.Profile.LastName, new {@class="form-control",placeholder="Soyisim giriniz"})


                <button class="btn btn-primary">Üye ol</button>

                <div>
                    @Html.ActionLink("Giriş yap","Login","Home")
                </div>


            </div>
            }
            </div>

</body>


